<div class="container">
  <h1>Fail contact:</h1>

  <p> fullanme:  <%= @fail.fullname%></p>
  <p> email: <%= @fail.email%></p>
  <p> birth_date: <%= @fail.birth_date%></p>
  <p> phone: <%= @fail.phone%></p>
  <p> address: <%= @fail.address%></p>
  <p> credit_card: <%= @fail.credit_card%></p>
  <p> Messages of fail: <%= @fail.message%></p>
</div>

